.food_generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  padding: 20px 100px;
}

#generator_title {
  font-size: $font-logo;
}

#generator_menu {
  font-size: $font-logo;
  margin-top: 20px;
  color: darken($Primary, 30%);
  font-weight: bold;
}
