.google_map_area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 900px;
  height: 700px;
}

.google_map {
  background-color: floralwhite;
  width: 800px;
  height: 600px;
}
