.header div{
  z-index: 5;
}

.header {
  //display: flex;
  //justify-content: space-around;
  padding: 1.5rem 1.5rem;
  background-color: darken($Primary,10%);

}
.headName{
  margin-left: 2rem;
}
.headerBar{
  display:flex;
  justify-content: space-between;
}
.headerBar div{
  display: flex;
  align-items: center;
}

.headerBar-Right svg{
  margin-left: 1.25rem;
}
.headerBar-Left svg{
  margin-left: 1.25rem;
}

// POP up styling
.popUp{
  background-color: darken($Primary,25%);
  position: absolute;
  height: 400px;
  width: 250px;
  z-index: 2;
}

.popUpBody{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}