$white-color: #ffffff;
$black-color: #000000;
$font-color: #30140c;
$font-logo: 30px;
$font-large: 17px;
$font-medium: 15px;
$font-small: 14px;
$font-micro: 12px;

// Color Pallete
$Primary: #ef9a9a;
$Secondary: #42a5f5;
$Accent1: #81c784;
$Accent2: #b39ddb
