$white-color: #ffffff;
$black-color: #000000;
$font-color: #30140c;
$font-logo: 30px;
$font-large: 19px;
$font-medium: 15px;
$font-small: 14px;
$font-micro: 12px;

// Color Pallete
$Primary: #efab9a;
$Secondary: #d5e4ff;
$Accent1: #e7a8d7;
$Accent2: #a4db9d;
$Black1: #242424;
